################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Back-End/.vs/ZipPostalCodeLookupService/v15/Server/sqlite3
/.vs
/Back-End/.vs/ZipPostalCodeLookupService
/Back-End/ZipPostalCodeLookupService/bin/Debug/netcoreapp2.2
