<div class="form-wrapper">
  <form [formGroup]="locationForm">
    <div class="text-center">
      <img class="padding-top" src="https://img.icons8.com/nolan/64/000000/worldwide-location.png">
      <p class="heading padding-top">What's My Postal Code?</p>
    </div>
    <div class="padding-top form-container">
  
          <mat-form-field>
            <input matInput
                   placeholder="Address (Line 1)"
                   formControlName="addressFirstLine"
                   (blur)="getZipcodeByAddress()">
          </mat-form-field>


          <mat-form-field>
            <input matInput
                   placeholder="Address (Line 2)"
                   formControlName="addressSecondLine"
                   (blur)="getZipcodeByAddress()">
          </mat-form-field>

 
          <mat-form-field>
            <input matInput
                   placeholder="City"
                   formControlName="city"
                   (blur)="getZipcodeByAddress()">
          </mat-form-field>
  
          <mat-form-field>
            <mat-label>State</mat-label>
            <select matNativeControl
                    formControlName="state"
                    (blur)="getZipcodeByAddress()"
                    required>
              <option *ngFor="let state of states" [ngValue]="state">
                {{state.name}}
              </option>
            </select>
          </mat-form-field>
      
    </div>
    <div class="padding-top">
      <button mat-stroked-button type="submit" color="primary">Find My Postal Code!</button>
      <br /><br />
      <mat-error *ngIf="locationForm.errors?.locationInvalid">The location is invalid</mat-error>
    </div>
    <br>
  </form>
</div>


